<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="{{ block('meta_keywords') }}">
        <meta name="description" content="{{ block('meta_description') }}">
        <title>{{ block('meta_title') }} - {{ block('brand') }}</title>
        {{ block('css') }}
        <link rel="icon" type="image/x-icon" href="{{ asset('uploads/images/favicon.ico') }}">
    </head>
    <body>
        {{ block('body') }}
        {{ block('js') }}
    </body>
</html>
